.hero{
    height: 100vh;
    background: linear-gradient(180deg, #98b6bd,#e1ffea22 60%);
    display: flex;
}
.hero-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 180px;
    padding-top: 100px;
    line-height: 1.1;
}
.hero-left h2{
    color: #1b263b;
    font-size: 36px;
    font-weight: 600;

}
.hero-left p{
    color: #1b263b;
    font-size: 80px;
    font-weight: 700;
}
.hero-left__button button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 75px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}