.item{
    width: 350px;
    margin: 30px;
}
.item .name{
margin: 6px 0px;
}
.name-brend, .price,.size{
    padding: 10px;
    padding-left: 30px;
}
.size{
    padding-bottom: 25px;
}
.item img{
    padding: 0;
    margin: 0;
}
.price{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item:hover{
    transform: scale(1.01);
    transition: 0.6s;
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.64);
}
.name-brend{
    display: flex;
    align-items: center ;
}