.MakePost-Container{
    height: min-content(650px);
    background: linear-gradient(180deg, #98b6bd,#e1ffea22 60%);

    
}
label{
    color: black;
    height: 100px;
    width: 130px;

    border: 1px dashed black;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
}
input {
    height: 30px;
width: 200px;
}
input:focus{
    outline-style: none;
    box-shadow: none;
}
.PostForm{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 100px;
    gap: 10px;
    align-items: center;
    
}
.Category{
    display: flex;
}
.PostPhoto{
    align-items: center;
    display: flex;
    gap: 20px;
}
.PostPhoto img{
    max-height: 200px;
}
.PostText{
    font-size: 48px;
    padding: 50px;
    margin-right: 850px;
}