 .nav{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    background-color: #e2e2e2;
    width:100%;
    height: 150px;
}
.nav .upper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10vw;
    height: 100px;
}
.nav-search{
    display: flex;
    width: 35vw;
    justify-content: center;
}
.search-bar:focus{
    outline-style: none;
    box-shadow: none;
}
.search-bar{
    justify-self: center;
    width: 25vw;
    border-radius: 1px;
}
.lupa{
    height: 32px;
    width: 32px;
    justify-self: center;
    align-self: center  ;
    background-color: rgba(0, 81, 255,0.8);
    border: 1px solid black;
    cursor: pointer;
}

.lower{
    display: flex;
    justify-content: center;
    width: 100%;
}
.nav-menu{
    display:flex;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
    font-weight: 500;
    
}
/*.nav-menu li{
    justify-content: center;
    height: 29px;
    font-size: 18px;
    font-weight: 600;
    
    transition: 0.15s;
    margin-right: 80px;
}


.nav-menu li:hover{
    border-bottom: 1px solid black;
}*/


.nav-logo{

    cursor: pointer;
    font-size: 32px;
    transition: 0.15s;
}
.nav-logo:hover{
    transform: scale(1.1);
    font-size: 33px;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart .prijava{

    
    outline: none;

    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
    transition: 0.15s;
}

.prijava:hover{
    border: 1px solid black;
}

.nav-cart-count{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -58px;
    border-radius: 11px;
    font-size: 12px;
    background-color: red;
    color: white;
    
}


.PostButtonDiv button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 125px;
    height: 32px;
    border-radius: 75px;
    
    background: #ff4141;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.black_part{
    width: 100%;
    height: 30px;
    background-color: rgb(34, 34, 34);

}