
.footer-feedback{
    height: 210px;
    background-color: #1b263b;
    color:rgb(228, 227, 227); 
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.footer-feedback__text{
    color: rgb(228, 227, 227);
    font-size: 22px;
    font-weight: 600;
    margin-right: 20%;
}
.footer-feedback__input input{
    height: 50px;
    width: 320px;
    padding-left: 22px;
    font-size: 16px;
    
}
.footer-feedback__input input:focus{
    outline-style: none;
    box-shadow: none;
    border: none;
}
.footer-feedback__button button{
    margin-left: 10%;
    border: none;
    outline-style: none;
    background-color: yellow;
    width: 80px;
    height: 30px;
}

.footer-copyright-content{
    width: 100%;
    height: 50px;
    background-color: rgb(34, 34, 34);
    color: rgb(228, 227, 227);
    font-size: 19px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

