.ItemField{
    width: 1400 !important; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shopPage{
    min-height: 631px;
    background: linear-gradient(180deg, #98b6bd,#e1ffea22 60%);
}