.ProductPage{
    display: flex;
    height: 80vh;
    flex-direction: column;
    background: linear-gradient(180deg, #98b6bd,#e1ffea22 60%);
}
.Down .LeftSide {
    display: flex;
    gap: 17px;
}
.LeftSide img{
    width: 426px;
    height: 570px;
}
.Down{
    margin: 0 275px;
    display: flex;
}
.RightSide{
    margin: 0 100px;
    display: flex;
    flex-direction: column;
}
.RightSide h1{
    color: #2c2c2c;
    font-size: 52px;
    margin: 0 -15px;
    margin-top: 15px;
    font-weight: 700;
}
.RightSide h3{
    color:#6b6b6b; 
    margin: 0 40px;
    margin-top: -10px;
    margin-bottom: 7px;
}
.RightSide h4{
    color: #3d3d3d;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 42px;
}
.RightSide span{
    font-size: 25px;
    margin-right: 8px;
    font-weight: 400;
}
.RightSide h5{
    font-weight: bold;
    font-size: 20px;
}
.size{
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}
.RightSide .buy-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}
.buy-button button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #1b263b;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}